{% extends 'base.html.twig' %}

{% block title %}Login - Corohelp{% endblock %}

{% block body %}
    <div class="uk-section uk-flex uk-flex-middle" uk-height-viewport>
        <div class="uk-width-1-1">
            <div class="uk-container">
                <div class="uk-grid-margin uk-grid uk-grid-stack" uk-grid>
                    <div class="uk-width-1-1@m">
                        <div class="uk-margin uk-width-large uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            {% if app.user %}
                                <div class="mb-3">
                                    <h3 class="uk-card-title uk-text-center">Du bist bereits eingeloggt :)</h3>
                                    <p class="uk-text-center">Möchtest du dich von {{ app.user.username }} <a href="{{ path('logout') }}">abmelden</a>?</p>
                                </div>
                            {% else %}
                            <h3 class="uk-card-title uk-text-center">Willkommen zurück!</h3>
                            <form method="post">
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="uk-input uk-form-large" placeholder="E-Mail" required
                                               autofocus>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                        <input type="password" name="password" id="inputPassword" class="uk-input uk-form-large" placeholder="Passwort" required>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <div class="uk-inline uk-width-1-1">
                                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                        <label>
                                            <input class="uk-checkbox" type="checkbox" name="_remember_me"> Angemeldet
                                            bleiben
                                        </label>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1" type="submit">
                                        Einloggen
                                    </button>
                                </div>
                                <div class="uk-text-small uk-text-center">
                                    Noch kein Profil? <a href="{{ path('register') }}">Erstelle ein Profil</a>
                                </div>
                            </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
