{{ form_start(form) }}
    {{ form_label(form.title, 'createPost.title', {'label_attr': {'class': 'uk-form-label' } }) }}
    {{ form_widget(form.title, {'attr': {'class': 'uk-input uk-margin-bottom' } }) }}
    {{ form_label(form.title, 'createPost.location', {'label_attr': {'class': 'uk-form-label' } }) }}
    {{ form_widget(form.location, {'attr': {'class': 'uk-input uk-input uk-margin-bottom js-location', 'placeholder': 'createPost.location', 'autocomplete': 'autocomplete_off'} }) }}
    {{ form_label(form.description, 'createPost.description', {'label_attr': {'class': 'uk-form-label' } }) }}
    {{ form_widget(form.description, {'attr': {'class': 'uk-textarea uk-margin-bottom', rows: '10'} }) }}
    <button class="uk-button uk-button-primary uk-align-right">{{ button_label }}</button>
{{ form_end(form) }}
