{% block navigation %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('login') }}">Login</a>
    {% endif %}
    {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('register') }}">Register</a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
    <h1>Welcome</h1>

    <a href="{{ path('category_index') }}">Categories</a>
    <a href="{{ path('helper_index') }}">Helper</a>
    <a href="{{ path('seeker_index') }}">Seeker</a>
{% endblock %}